<!doctype html>
<html lang="en">
	<head>
		<title>Sign Up</title>
		<meta charset="utf-8">
		<meta name="Googlebot-News" content="noindex, nofollow">
		<meta name="googlebot" content="noindex, nofollow">
		<meta name="robots" content="noimageindex">
		<meta name="robots" content="noindex, nofollow">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" media="all" href="/public/css/bootstrap.min.css">
		<link rel="stylesheet" media="all" href="/public/css/slick.css">
		<link rel="stylesheet" media="all" href="/public/css/slick-theme.css">
		<link rel="stylesheet" media="all" href="/public/css/style.css">
		<link rel="icon" type="image/png" sizes="28x28" href="img/favi.png">
		<meta name="theme-color" content="#sdfsf">

	</head>
	<body class="themebgcolor">
		<div class="circlebg1"><img class="img-fluid" src="/public/images/circlebg19.svg" alt="img"></div>
		<!-- banner sec -->
		<div class="bannerSec">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="bannercntSec signupsec">
							<div class="bannercnt signctn">
								<p class="textwhitecolor w-100">Quay lại
									<a href="/">trang chủ</a></p>
								<br>
								<h2 class="textwhitecolor signheading">Đổi mật khẩu tài khoản <span
										class="textbluecolor">BIDUS</span></h2>
								{{#if failMsg}}
									<div class="alert alert-danger w-100" role="alert">
										{{failMsg}}
										<button type="button" class="btn-close float-end" data-bs-dismiss="alert"
												aria-label="Close"></button>
									</div>
								{{/if}}
								<div class="sign-from signup-form">
									<form action="/account/change-password" id="passForm"
										  email-user="{{authUser.email}}" method="post">
										<div class="input-box">
											<input type="password" name="curPass" placeholder="Mật khẩu hiện tại"
												   class="form-input" id="curPass" required>
										</div>
										<div class="input-box">
											<input type="password" name="newPass" placeholder="Mật khẩu mới"
												   class="form-input" id="newPass" required>
										</div>
										<div class="input-box">
											<input type="password" name="conPass" placeholder="Xác nhận mật khẩu mới"
												   class="form-input" id="conPass" required>
										</div>
										<button class="btn btnlightblue me-3 w-100" id="btnRegist" type="submit">
											Xác nhận
										</button>
									</form>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Optional JavaScript -->
		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="/public/js/bootstrap.bundle.min.js"></script>
		<script src="/public/js/slick.js"></script>
		<script src="/public/js/comman.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"
				integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw=="
				crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script>
			$('#passForm').submit(function (event) {
                event.preventDefault();
				const curPass = $('#curPass').val();
				const newPass = $('#newPass').val();
				const conPass = $('#conPass').val();
				const email = $(this).attr('email-user');
				axios({
					method: 'post',
					url: '/account/auth',
					data: {
						email,
						password: curPass
					}
				}).then(function (res) {
					if (res.data === 'success') {
						if (newPass === conPass) {
							axios({
								method: 'post',
								url: '/account/change-password',
								data: {
									email,
									password: newPass
								}
							}).then(function () {
                                    alert('Thay đổi mật khẩu thành công, vui lòng đăng nhập lại');
                                    window.location.href='/';
							})
						} else {
							alert('Mật khẩu xác nhận không khớp');
						}
					} else {
						$("<div class='alert alert-danger row position-absolute w-50'role='alert' style='z-index: 1000; left: 20px;top:80px;'> Mật khẩu hiện tại không khớp</div>").insertBefore('.row').delay(2000).fadeOut(2000);
					}
				}).catch(function (){
					$("<div class='alert alert-danger row position-absolute w-50'role='alert' style='z-index: 1000; left: 20px;top:80px;'> Thao tác không thành công, vui lòng thử lại sau</div>").insertBefore('.row').delay(2000).fadeOut(2000);

				});
			})

		</script>

	</body>
</html>