<!doctype html>
<html lang="en">
	<head>
		<title>Đăng nhập</title>
		<meta charset="utf-8">
		<meta name="Googlebot-News" content="noindex, nofollow">
		<meta name="googlebot" content="noindex, nofollow">
		<meta name="robots" content="noimageindex">
		<meta name="robots" content="noindex, nofollow">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" media="all" href="/public/css/bootstrap.min.css">
		<link rel="stylesheet" media="all" href="/public/css/slick.css">
		<link rel="stylesheet" media="all" href="/public/css/slick-theme.css">
		<link rel="stylesheet" media="all" href="/public/css/style.css">
		<link rel="icon" type="image/png" sizes="28x28" href="img/favi.png">
		<meta name="theme-color" content="#sdfsf">
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>

	</head>
	<body class="themebgcolor">
		<div class="circlebg1"><img class="img-fluid" src="/public/images/circlebg19.svg" alt="img"></div>
		<!-- banner sec -->
		<div class="bannerSec">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="bannercntSec signcntsec">
							<div class="signctn">
								<p class="textwhitecolor w-100">Quay lại
									<a href="/">trang chủ</a></p>
								<h2 class="textwhitecolor signheading">Đăng nhập tài khoản <span class="textbluecolor">BIDUS</span></h2>
								{{#if successMsg}}
								<div class="alert alert-success" role="alert">
									{{successMsg}}
									<button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
								</div>
								{{/if}}
								{{#if failMsg}}
									<div class="alert alert-danger" role="alert">
										{{failMsg}}
										<button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
									</div>
								{{/if}}
								<div class="sign-from">
									<form action="/account/sign-in" method="post">
										<div class="input-box">
											<input type="text" name="email" placeholder="Email" class="form-input" required>
										</div>
										<div class="input-box">
											<input type="password" name="password" placeholder="Mật khẩu" class="form-input" required>
										</div>
										<button class="btn btnlightblue me-3 w-100">Đăng nhập</button>
									</form>
								</div>
								<div class="divider">or</div>
								<div class="social-wrap">

									<a href="#" class="twiter">
										<img src="/public/images/twittericon.svg" alt="icon">
									</a>
									<a href="#" class="google">
										<img src="/public/images/googleicon.svg" alt="icon">
									</a>
									<a href="#" class="facebook">
										<img src="/public/images/facebookicon.svg" alt="icon">
									</a>
								</div>
								<div class="signup-link">
									Chưa có tài khoản? <a href="/account/sign-up">Đăng ký</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Optional JavaScript -->
		<script src="/public/js/jquery-2.0.0.min.js"></script>
		<script src="/public/js/bootstrap.bundle.min.js"></script>
		<script src="/public/js/slick.js"></script>
		<script src="/public/js/comman.js"></script>

	</body>
</html>