<!-- Footer -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-xl-4">
				<div class="footsec">
					<div class="footlogocntSec">
						<a href="#" class="footlogo"><img class="img-fluid" src="img/footlogo.svg" alt="img"></a>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
					</div>
					<div class="joincommunity">
						<h3>Join the Community</h3>
						<ul>
							<li><a href="#"><img class="img-fluid" src="img/discordbutton.svg" alt="img"></a></li>
							<li><a href="#"><img class="img-fluid" src="img/twitter.svg" alt="img"></a></li>
							<li><a href="#"><img class="img-fluid" src="img/insta.svg" alt="img"></a></li>
							<li><a href="#"><img class="img-fluid" src="img/reditbutton.svg" alt="img"></a></li>
							<li><a href="#"><img class="img-fluid" src="img/youtube.svg" alt="img"></a></li>
							<li><a href="#"><img class="img-fluid" src="img/emailbutton.svg" alt="img"></a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-lg-12 col-xl-8 d-none d-md-flex justify-content-between">
				<div class="footlinks">
					<h2>My account</h2>
					<ul>
						<li><a href="#">Profile</a></li>
						<li><a href="#">Favorites</a></li>
						<li><a href="#">My collection</a></li>
						<li><a href="#">Settings</a></li>
					</ul>
				</div>

				<div class="footlinks">
					<h2>Discover</h2>
					<ul>
						<li><a href="#">Art</a></li>
						<li><a href="#">Phorography</a></li>
						<li><a href="#">Domain Names</a></li>
						<li><a href="#">Memes</a></li>
						<li><a href="#">Virtual Worlds</a></li>
						<li><a href="#">Trading Cards</a></li>
					</ul>
				</div>

				<div class="footlinks">
					<h2>Inform Center</h2>
					<ul>
						<li><a href="aboutus.html">About Us</a></li>
						<li><a href="faq.html">FAQ</a></li>
						<li><a href="blogstyle1.html">Blog</a></li>
						<li><a href="contact.html">Contact</a></li>
						<li><a href="newsletter.html">Newsletter</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>


<div id="elevator_item"><a id="elevator" onclick="return false;" title="Back To Top"></a></div>


<!-- Optional JavaScript -->
<script src="/public/js/jquery-2.0.0.min.js"></script>
<!--<script src="https://code.jquery.com/jquery-3.6.0.js"></script>-->
<script src="/public/js/bootstrap.bundle.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script src="/public/js/app.js"></script>
<script src="/public/js/slick.js"></script>
<script src="/public/js/comman.js"></script>
<script src="/public/js/moment.min.js"></script>
<script src="/public/js/jquery.countdown-2.0.4/jquery.countdown.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"
		integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/public/js/main.js"></script>
<script src="/public/js/category.js"></script>
{{{_sections.js}}}
</body>
</html>