<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<div class="mt-5">
    <h1>Lỗi 404: Không thể tìm thấy trang này</h1>
</div>
<div class="mt-5">
    <a href="" class="back" style="font-size: 16px;">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
 Quay lại</a>
</div>






