
	<div class="body-intro ">
		<div class="intro-bg">
			<img src="public/images/intro.png" class = "intro-img" alt="">
		</div>
		<div class="intro-text">
			<h2>Auction won, Dream go on</h2>
			<p>LET'S MAKE A BID</p>
			<h5>Online Auction is where everyone goes to shop, sell,and give, while discovering variety and affordability.</h5>
			<button type="button" class="btn btn-warning start-btn">Get start</button>

		</div>
	</div>
	<!-- top nearly end product	-->
	<div id="time-end" class="top-auction">
		<div class="auction-title">
			<img src="public/images/hourglass.png" class = "top-auction-img" alt="">
			<h1>Nearly End</h1>
			<h5>Just don't miss anything</h5>
		</div>
		<div class="auction-bg2">
			<img src="public/images/real-bg.png" alt="">
		</div>
		<!--top product-->
		<div class="auction-body">
			<div class="auction-content">
				<ul class="auction-list">
					<li class="auction-item">
						<a href="" class="auction-item-link">
							<img src="http://pixner.net/sbidu/main/assets/images/auction/car/auction-1.jpg" alt="" class="auction-img">
							<h5>Product's Name</h5>
						</a>
						<div class="auction-bid-area">
							<div class="bid">
								<div class="auction-icon-area">
									<i class="fa fa-gavel green-text" aria-hidden="true"></i>
								</div>
								<div class="auction-text-area">
									<p class="green-text">Current Bid</p>
									<p>100$</p>
								</div>
							</div>
							<div class="buy">
								<div class="auction-icon-area">
									<i class="fa fa-money text-danger" aria-hidden="true"></i>
								</div>
								<div class="auction-text-area">
									<p class="text-danger">Buy Now</p>
									<p>100$</p>
								</div>
							</div>
						</div>
						<div class="auction-time-area">

						</div>
						<div class="row justify-content-center">
							<button type="button" class="btn btn-light submit-btn">Submit A Bid</button>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="blank">
		<div class="blank-sub d-flex justify-content-center text-white pt-5">
			<h1>Haven't got any interested items yet?</h1>
		</div>
		<div class="blank-sub d-flex justify-content-center text-white">
			<h3>View Hot bids to get one now !!!</h3>
		</div>
		<div class="blank-sub d-flex justify-content-center text-white" style="font-size: 100px;">
			<i class="fa fa-arrow-down" aria-hidden="true"></i>
		</div>
	</div>
	<!-- top hod bid product	-->
	<div id="hot-bid" class="top-auction">
		<div class="auction-title">
			<img src="public/images/hot.png" class = "top-auction-img hot-img" alt="">
			<h1>Hot bids</h1>
			<h5>Some products with the most bids are waiting for you </h5>
		</div>
		<div class="auction-body">
			<div class="auction-bg2">
				 <img src="public/images/lookfor.png" class="" alt="">
			</div>
			<div class="auction-content">
				<ul class="auction-list">
					<li class="auction-item">
						<a href="" class="auction-item-link">
							<img src="http://pixner.net/sbidu/main/assets/images/auction/car/auction-1.jpg" alt="" class="auction-img">
							<h5>Product's Name</h5>
						</a>
						<div class="auction-bid-area">
							<div class="bid">
								<div class="auction-icon-area">
									<i class="fa fa-gavel green-text" aria-hidden="true"></i>
								</div>
								<div class="auction-text-area">
									<p class="green-text">Current Bid</p>
									<p>100$</p>
								</div>
							</div>
							<div class="buy">
								<div class="auction-icon-area">
									<i class="fa fa-money text-danger" aria-hidden="true"></i>
								</div>
								<div class="auction-text-area">
									<p class="text-danger">Buy Now</p>
									<p>100$</p>
								</div>
							</div>
						</div>
						<div class="auction-time-area">

						</div>
						<div class="row justify-content-center">
							<button type="button" class="btn btn-light submit-btn">Submit A Bid</button>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="blank">
		<div class="blank-sub d-flex justify-content-center text-white pt-5">
			<h1>Get your first acution right now !!!</h1>
		</div>
		<div class="blank-sub d-flex justify-content-center text-white" style="font-size: 100px;">
			<button type="button" class="btn btn-light regist-btn">Register</button>
		</div>
	</div>
	<!--top hot price product	-->
	<div id="hot-price" class="top-auction">
		<div class="auction-title">
			<img src="public/images/coin.jpg" class = "top-auction-img price-img" alt="">
			<h1>Highest price</h1>
			<h5>Join and get something value now</h5>
		</div>
		<div class="auction-body">
			<div class="auction-bg3">
				<img src="public/images/coin-bg.png" alt="">
			</div>
			<div class="auction-content">
				<ul class="auction-list">
					<li class="auction-item">
						<a href="" class="auction-item-link">
							<img src="http://pixner.net/sbidu/main/assets/images/auction/car/auction-1.jpg" alt="" class="auction-img">
							<h5>Product's Name</h5>
						</a>
						<div class="auction-bid-area">
							<div class="bid">
								<div class="auction-icon-area">
									<i class="fa fa-gavel green-text" aria-hidden="true"></i>
								</div>
								<div class="auction-text-area">
									<p class="green-text">Current Bid</p>
									<p>100$</p>
								</div>
							</div>
							<div class="buy">
								<div class="auction-icon-area">
									<i class="fa fa-money text-danger" aria-hidden="true"></i>
								</div>
								<div class="auction-text-area">
									<p class="text-danger">Buy Now</p>
									<p>100$</p>
								</div>
							</div>
						</div>
						<div class="auction-time-area">

						</div>
						<div class="row justify-content-center">
							<button type="button" class="btn btn-light submit-btn">Submit A Bid</button>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
