
	<div class="body-intro">
		<div class="intro-bg">
			<img src="public/images/intro.png" class = "intro-img" alt="">
		</div>
		<div class="intro-text">
			<h2>Auction won, Dream go on</h2>
			<p>LET'S MAKE A BID</p>
			<h5>Online Auction is where everyone goes to shop, sell,and give, while discovering variety and affordability.</h5>
			<button type="button" class="btn btn-warning start-btn">Get start</button>

		</div>
	</div>
