
*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, p {
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--bg-theme);
    height: 100%;
    width: 100%;
    color: var(--text-color);
}

.btn {
    background-image: none;
    margin: 0;
    padding: auto;
    border-radius: 10px;
}

th {
    font-size: 20px
}

tr{
    font-size: 18px;
}

td, th{
    text-align: center;
    align-items: center;
}


.display {
    display: flex !important;
}

.sidebar {
    display: none;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    position: fixed;
    padding: 0 16px 16px;
    border-radius: 13px;
    z-index: 2;
    top: 0;
    left: 0;
    box-shadow: 0px 9px 20px 0px rgb(22 26 57/36%);
}

.sidebar-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.nav-brand {
    color: inherit;
    font-family: 'Signika Negative', sans-serif;
    font-size: 3.5rem;
    padding: 0 1rem;
}



a.nav-brand:hover{
    text-decoration: none;
    color: var(--btn-text-color);
}

.sidebar-content .navbar-nav .nav-item{
    
}

.active{
    /*background-color: var(--btn-bg);*/
    color: #48cae4 !important;
    border-radius: 10px;
    font-weight: 500;
}

.sidebar-content .navbar-nav .nav-item a{
    --line-height: 45px;
    color: inherit;
    display: block;
    line-height: var(--line-height);
    transition: all .1s ease-in-out;
    border-radius: 15px;
    padding: 0.5rem 1rem;
}

.sidebar-content .navbar-nav .nav-item a:hover {
    padding-left: 30px;
}



.show .dropdown-icon{
    transform: rotate(90deg);
}


.sidebar-content .navbar-nav .nav-item .nav-link i{
    vertical-align: middle;
}

.sidebar-content .navbar-nav .nav-item .nav-link .dropdown-icon{
    float: right;
    line-height: var(--line-height);
    font-size: 30px;
    transition: all .2s ease-in-out;
}

.navbar-nav .sub-nav{
    padding-left: 2rem;
}

/* Manage button */

.admin-manage {
    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index: 1;
}

.manage-notification {
    display: none;
    position: relative;
}

.notification {
    width: 160px;
    position: absolute;
    background-color: white;
    padding: 10px 20px;
    top: -100px;
    left: -10px;
    border-radius: 20px;
}

.notification::after {
    content: "";
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;
    left: 10px;
    bottom: -15px;
}

.admin-manage a {
    text-decoration: none;
    color: inherit;
}

.admin-manage a:hover + .manage-notification{
    display: block;
}


.admin-manage a i {
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

/* Admin Main */


.main-container {
    height: 100vh;
    position: relative;
}


.container {
    height: 100vh;
    position: relative;
}

.admin-content {
    display: none;
    margin-top: 50px;
}

    
    /* Common */

.widget {
    width: 100%;
    box-shadow: 0px 9px 20px 0px rgb(22 26 57/36%);
    padding: 20px 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    position: relative;
    background-color: white;
}

.widget-title {
    font-size: 36px;
    padding: 0 20px;
}


.checklist {
    font-size: 16px;
    margin-top: 20px;
}

.checklist label {
    width: 350px;
}

.widget-content {
    margin-top: 20px;
    width: 100%;
}

.widget-table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0 1em;
    
}

.list-header {
    box-shadow: none;
}

.add-btn {
    margin-top: 20px;
    font-weight: bold;
    float: right;
}

    /* Dashboard */

#admin-dashboard{
    /* display: none; */
}

    /* Category */
#admin-category{
    /* display: block; */
}

    /* Products View */
.admin-table {
    height: 500px;
    overflow: auto;
}

.table-cell-thumb {
    margin-left: 20px;
}

.table-cell-thumb img {
    max-width: 100px;
}

.table-cell-info .cell-info {
    display: block;
    color: inherit;
}

.table-cell-info .seller-info {
    font-size: 14px;
    color: inherit;
}

    /* Admin Seller View */
.table-cell-info .seller-rate {
    font-size: 14px;
}

/* Modal */

.custom-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
}

.my-modal {
    background-color: white;
    width: 40%;
    position: fixed; 
    top: 35%;
    left: 30%;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0px 9px 20px 0px rgb(22 26 57/36%);
    animation: modalFadeIn ease 1s;
}

.my-modal input{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

.add-modal-1,
.add-modal-2,
.delete-modal,
.edit-modal {
    display: none;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.content-show {
    display: block !important;
}

.back {
    
}

.back i {
    vertical-align: middle;
}


