.body-content {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 120px;
    margin-right: auto;
    margin-left: auto;
}

/* Silder session */
.slider-container {
    background: url(../images/real-bg.png) center / cover no-repeat;
    opacity: 1;
}

.slider-item {
    padding-top: 62%;
    border-radius: 10px;
    display: none;
}

.main-image {
    display: block;
    background: url(../images/main_image.png) top center / cover no-repeat;
}

.sub-image-1 {
    background: url(../images/sub_image1.png) top center / cover no-repeat;
}

.sub-image-2 {
    background: url(../images/sub_image2.png) top center / cover no-repeat;
}

.sub-image-3 {
    background: url(../images/sub_image3.png) top center / cover no-repeat;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 42%;
  left: 38%;
  padding: 6px 15.75px;
  color: white !important;
  font-weight: bold;
  font-size: 20px;
  border-radius: 50%;
  user-select: none;
  -webkit-user-select: none;
  background: -webkit-linear-gradient(90deg, #ff7b00 0%, #ffea00 100%);
}

.prev:hover,
.next:hover {
  background: -webkit-linear-gradient(90deg, #ffea00 0%, #ff7b00 100%);
  color: #001d3d !important;
}

/* Product information session */

.product-information-container {
    background-color: #f8edeb;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 100px !important;
    margin-left: 8px !important;
    border-radius: 10px;
}

.product-detail-information {
    margin-bottom: 50px;
}

.product-detail-heeader {
    color: black;
}

.product-detail-title {
    display: flex;
    align-items: center;
}

h2 {
    font-size: 42px;
    line-height: 50px;
    margin-top: -10px;
}

h2.product-title {
    margin-right: 10px;
}

.fav-pro:hover {
    cursor: pointer;
}

ul.seller-information {
    list-style-type: none;
    display: flex;
}

ul.seller-information li {
    padding: 15px;
    font-size: 20px;
}

.price-table {
    position: relative;
    background: -webkit-linear-gradient(45deg, #ff7b00 0%, #ffea00 100%);
    border-radius: 10px;
    padding: 5%;
}

ul.current-higest-bidder {
    list-style-type: none;
    padding: 0;
}

.account-information {
    color: #52606d;
}

ul.current-higest-bidder li {
    display: inline-block;
    padding: 10px;
}

li.current-price-name .current{
    font-size: 30px;
}

li.current-price-value {
    position: absolute;
    right: 5%;
}

li.current-price-value .price {
    color: #43b055;
    font-size: 40px;
    font-weight: bold;
}

.current-higest-bidder.highest-bidder-information {
    font-size: 20px;
}

.bid-container {
    margin-top: 30px;
}

.bid-form {
    margin-top: 5% !important;
    padding: 20px;
    background: -webkit-linear-gradient(45deg, #ffdd32 0%, #ffd400 100%);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.bid-form-input {
    display: flex;
    justify-content: space-between;
}

.bid-form input{
    width: 45%;
    height: 50px;
    padding: 0px 30px;
    border-radius: 50px;
    border: 1px solid #e0e0f1;
}

.submit-bid-button.auto-submit-bid-button{
    width: 20%;
    border: none;
    border-radius: 50px;
    height: 50px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    background: -webkit-linear-gradient(90deg, #3da9f5 0%, #683df5 100%);
    box-shadow: -1.04px 4.891px 20px 0px rgb(69 49 183 / 50%);
}

.auction-time-container {
    position: relative;
    background: -webkit-linear-gradient(-90deg, #e3f2fd 0%, #bbdefb 100%);
    border-radius: 10px;
    padding: 5%;
}

.auction-time {
    text-align: center;
}

.auction-start-time-value {
    font-weight: 500;
    font-size: 240%;
    color: #004733;
}

.auction-end-time-value {
    font-weight: 400;
    font-size: 270%;
    color: #f24c00;
}

.auto-extends {
    font-size: 70%;
    margin-bottom: 0%;
    color: #52606d;
}

.buy-now-container {
    display: flex;
    margin-top: 30px !important;
}

.buy-now-title {
    text-align: center;
}

.buy-now-button {
    margin-top: 20px !important;
    margin: auto;
    padding: 5%;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    background: -webkit-linear-gradient(-90deg, #27a300 0%, #80b918 100%);
    box-shadow: -1.04px 4.891px 20px 0px rgb(69 49 183 / 50%);
}

/* Description session */
.description-container {
    background-color: #f8edeb;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 50px !important;
    margin-left: 8px !important;
    border-radius: 10px;
}

/* Relate-product session */
.related-product-container {
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 50px !important;
    margin-left: 8px !important;
    border-radius: 10px;
}

.related-product-title {
    color: #000;
}

/* Product card */
.auction-product-item {
    margin-top: 1% !important;
    margin-left: 5.5%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(13, 21, 75, 0.15);
}

.pro-card-header {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    align-items: center;
}

.pro-card-title {
    font-size: 24px;
    font-weight: bold;
    transition: 0.3s;
}

.pro-card-title:hover {
    color: orange !important;
    cursor: pointer;
}

.card-img {
    margin: 2% 0;
}

.product-price {
    display: flex;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    padding: 5px;
    justify-content: space-between;
    margin-top: auto;
    flex-direction: column;
}

.card-content {
    font-weight: bold;
    width: 100%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-card-time {
    border-bottom: 1px solid #999999;
    padding: 5px;
    margin-top: auto;
    display: flex;
    flex-direction: row;
}

.card-time-content {
    font-weight: bold;
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-border {
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    border-right: 2px;
    border-style: ridge;
}

.card-content-value .icon {
    margin-left: 0 !important;
}

.card-content-value {
    display: flex;
    align-items: center;
}

.total-bids {
    border-top: 1px solid #999999;
}

.bid-num {
    display: flex;
    align-items: center;
}

.buy-now-price {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    margin-top: auto;
    flex-direction: column;
}

.related-auction.auction-end-time-value {
    font-weight: bold;
    font-size: 100%;
}