*, ::after, ::before {
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#navbar {
    transition: 0.5s;
}

.nav {
    position: relative;
    /* background-color: var(--theme-color); */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    font-size: 20px;

}

.nav-container {
    width: 100%;
    height: 80px ;
    display: flex;
    padding: 8px 16px;
    margin-top: 2px;
    justify-content: space-between;
}

.nav-icon {
    color: white;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 8px 0px;
    color: white;
    margin: 0 ;
}

.nav-item {
    position: relative;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}

.nav-item:hover .menu {
    opacity: 1;
    display: block;
}

.nav-item-link {
    color: white !important;
    text-decoration: none !important;
    letter-spacing: 2px;
}

.menu {
    position: absolute;
    list-style: none;
    display: none;
    color: black;
    padding: 10px;
    margin: 10px 0;
    border: 1px;
    box-shadow: 5px 10px 8px #888888;
    left: 0;
    width: 200px;
    border-radius: 5px;
    background-color: white;
    opacity: 1;
    z-index: 2;
}

.menu::before {
    position: absolute;
    width: 100%;
    left: 0;
    top: -5%;
    content: "";
    display: block;
    height: 10px;
}

.menu-item {
    position: relative;
    padding: 8px;
}

.menu-item:hover {
    background-color: #ccc;
}

.menu-item:first-child:hover {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.menu-item:last-child:hover {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.menu-item:hover .sub-menu {
    display: block;
}

.menu-item-link {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color: black !important;
    text-decoration: none !important;
    letter-spacing: 2px;
}

.sub-menu {
    display: none;
    position: absolute;
    list-style: none;
    width: 180px;
    background-color: white;
    top: 0;
    left: 110%;
    padding: 16px;
    border: 1px;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 5px;
}

.sub-menu::before {
    position: absolute;
    width: 30px;
    height: 100%;
    left: -10%;
    top: 0;
    content: "";
    display: block;
}

.sub-menu-item {
    padding: 8px;
}

.sub-menu-item:hover {
    background-color: #ccc;
}

.sub-menu-item:first-child:hover {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sub-menu-item:last-child:hover {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sub-menu-item-link {
    color: black !important;
    text-decoration: none !important;
}

.search {
    display: flex;
    list-style: none;
    padding: 0 ;
    margin: 0 ;
    align-items: center ;
}

.search-item {
    display: flex;

}

.search-box {
    padding: 8px 0;
}

.search-box-text {
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 16px;
}


.search-btn {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
    font-size: 20px;
    color: white;
    background-color: unset;
}

.menu-account {
    width: 200px;
    left: unset;
    right: 0;
}

.menu-cart {
    width: 500px;
    height: 600px;
    left: unset;
    right: 0;
    overflow: auto;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-img  {
    width: 20%;
}

.pro-img-cart{
    width: 100%;
}

.close-btn{
    width: 30px;
    height: 30px;
    padding: 0;
}

#seperate {
    background-color: white;
    height: 2px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 580px) {
    #navbar {
        padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
    }

}

/*card product*/

.product-header{
    display: flex;
    background-color: white;
    border-radius: 15px;
    justify-content: flex-start;
}

.product-header .select-bar{
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 2rem;
}

.card-product {
    --radius: 15px;
    background-color: white;
    border-radius: var(--radius);
    padding: 10px;
    overflow: hidden;
}

.card-img {
    position: relative;
}

.card-img img {
    height: 200px;
    width: 100%;
    border-radius: var(--radius);
    object-fit: cover;
    overflow: hidden;
    flex-shrink: 0;
}

.card-img .favorite-icon i {
    position: absolute;
    top: 20px;
    right: 20px;
}

.card-img .bid-icon {
    width: 40px;
    height: 40px;
    color: #ffffff;
    line-height: 40px;
    font-size: 18px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    text-align: center;
    background: -moz-linear-gradient(135deg, #b122e6 0%, #ff63de 100%);
    background: -webkit-linear-gradient(135deg, #b122e6 0%, #ff63de 100%);
    background: -ms-linear-gradient(135deg, #b122e6 0%, #ff63de 100%);
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.13);
}

.card-product .card-content a {
    color: black;
    text-decoration: None;
}

.card-product .card-content a:hover {
    color: #f72585;
}

.card-mid {
    display: flex;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    padding: 5px;
    justify-content: space-between;
    margin-top: auto;
}

.card-mid .card-content {
    display: flex;
    margin: 0;
    padding: 5px 5px;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    text-align: center;
    width: 50%;
}

.card-mid .card-content .icon {
    align-self: center;
    margin-right: 5px;

}

.green-text {
    color: #06d6a0;
}

.red-text {
    color: #f72585;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin: 5px;
}



.body-content {
    height: 100vh;
}

.body-intro{
    width: 100%;
    display: flex;
    padding-top: 70px;
    background: linear-gradient(-45deg, #B5179E, #7209B7, #560BAD, #480CA8, #4361ee);
    border-bottom-left-radius: 100% 100%;
    border-bottom-right-radius: 50% 100%;
    position: relative;
}



.intro-bg {
    width: 70%;
}

.intro-img {
    width: 100%;
}

.intro-text {
    display: flex;
    padding-top: 100px;
    flex-direction: column;
    flex-wrap: wrap;
}

.intro-text h2{
    color: #48cae4;
    font-weight: 200;
}

.intro-text p {
    font-size: 80px;
    color: white;
    font-weight: bold;
}

.intro-text h5 {
    color: white;
    padding-right: 300px;
}

.start-btn {
    width: 260px;
    height: 70px;
    color: white;
    font-size: 32px;
    background: linear-gradient(-45deg,#f48c06, #faa307, #ffba08,  #ffffff);
    border-radius: 50px;
    border: unset ;
    padding: 0 ;
    margin-top: 50px;
}   

.top-auction {
    display: block;
    width: 100%;
}

.top-auction-img{
    width: 20%;
}


.auction-title{
    padding-left: 100px;
}


.auction-title h5{
    color: rgba(0, 0, 0, 0.5)
}

.auction-bg {
    position: absolute;
    margin-top: 300px;
}

.auction-body {
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px; 
    z-index: 1;
}

.auction-content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.auction-list {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 40px 0;
}

.auction-item {
    padding: 20px 10px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 9px 20px 0px rgb(22 26 57 / 36%);
    z-index: 1;
    background-color: white;
}

.auction-item-link {
    text-decoration: none !important;
    color: black;
}

.auction-item-link h5 {
    padding: 10px 0;
}

.auction-item-link h5:hover{
    color: red;
}

.auction-bid-area{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 2px dashed #ccc;
    border-bottom: 2px dashed #ccc;
}

.bid, .buy{
   display: flex;
   width: 50%;
}

.buy {
    border-left: 1px solid #ccc;
}

.auction-icon-area i {
    font-size: 36px;
    padding: 0 10px;
    margin-top: 10px;

}



.auction-text-area p {
    margin: 0;
    font-size: 20px;
}

.auction-time-area{

}

.small-icon {
    width: 10%;
}

.second-row {
    justify-content: center;
}

.submit-btn {
    background: linear-gradient(#3a0ca3, #3f37c9, #4895ef,  #4cc9f0);
    color: white;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    margin-top: 20px;
}

.submit-btn:hover {
    color: red;
}

#hot-bid {
    margin-top: 100px;
}

.hot-img {
    width: 80px;
}

.auction-bg2 {
    position: absolute;
    margin-top: 200px;
}

.auction-bg3 {
    position: absolute;
    margin-top: 200px;
    width: 100%;
}

#hot-price{
    margin-top: 100px;
}

.price-img {
    width: 120px;
}

.blank {
    margin-top: 150px;
    height: 300px;
    background-image: url('../images/blank-bg.png');
}

.regist-btn {
    background-color: #06d6a0;
    margin-top: 30px;
    font-size: 30px;
    padding: 10px 70px;
    color: white;
    font-weight: bold;
    border-radius: 30px;
}

#footer {
    margin-top: 300px;
}
