/* Dashboard sidebar css */
#dashboard {
    padding: 15px 0;
    margin-top: 50px;
    background: url(../images/wave.png) top center / cover no-repeat;
}

#side-bar {
    height: 27rem;
    padding: 20px 10px;
    text-align: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 6px 18px 0px rgb(16 5 54 / 17%);
}

.sidebar-header {
    margin-bottom: 50px;
}

.personal-email {
    color:rgba(0,0,0,.5);
}

.sidebar-btt {
    border: 2px;
    border-radius: 50px;
    width: 100%;
    padding: 10px 0px;
    margin: 4px 0px;
    color: #102b3f;
    font-weight: 500;
    font-size: 20px;
    background: -webkit-linear-gradient(33deg, #f1d6ff 0%, #c0fdff 100%);
}

.sidebar-btt:hover {
    color: #274c77;
    box-shadow: -1.04px 4.891px 20px 0px rgb(69 49 183 / 20%);
}

/* Dashboard content css */

.side-bar-content {
    padding: 20px 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 6px 18px 0px rgb(16 5 54 / 17%);
}

.side-bar-content.current-auction-content {
    display: none;
}

.sb-title{
    font-size: 24px;
    color: #000;
    text-decoration: none;
}

.auction-product-item {
    margin-top: 5%;
    margin-left: 5.5%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(13, 21, 75, 0.15);
}

.pro-card-title {
    margin-bottom: 10%;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.pro-card-title:hover {
    color: orange;
    cursor: pointer;
}

.product-price {
    margin-top: 15px !important;
    display: flex;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    padding: 5px;
    justify-content: space-between;
    margin-top: auto;
}

.product-pagination {
    margin: 4%;
}

/* Post product form css */

#post-product-form {
    margin-top: 40px;
    background: url(../images/coin-bg.png) top center / cover no-repeat;
}

.form-container {
    background-image: linear-gradient(147deg, #99d6ea 0%, #eec7fc 100%);
    border-radius: 10px; 
}

.form-header {
    padding-top: 20px;
    text-align: center;
}

.form-content ul {
    list-style-type: none;
}

.text-section {
    padding-top: 15px;
}

.text-section-item {
    padding: 2%;
}

.text-field {
    padding: 0px 10px;
    height: 36px;
    border-width: thin;
    border-radius: 5px;
}

.text-field.title {
    width: 100%;
}

.product-dropdown, .bid-price input {
    width: 49%;
}

#category, #startPrice {
    margin-right: 5px;
}

.checkbox {
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 5px;
}

.checkbox:hover {
    cursor: pointer;
}

.checkbox-label {
    font-size: 20px;
}

#endTime {
    cursor: pointer;
}

#endDate {
    border: none;
}

.image-section {
    padding: 2%;
}

#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(140, 73, 146, 0.7);
    padding: 1rem;
    position: relative;
}

.image-area::before {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}

.submit-secsion {
    text-align: center;
}

#submit-btt {
    border: none;
    border-radius: 50px;
    margin-left: 5.5%;
    margin-bottom: 2%;
    padding: 10px 50px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    background: -webkit-linear-gradient(147deg, #3da9f5 0%, #683df5 100%);
    box-shadow: -1.04px 4.891px 20px 0px rgb(69 49 183 / 50%);
}

#submit-btt:hover {
    background: -webkit-linear-gradient(147deg, #683df5 0%, #3da9f5 100%);
}

/* Footer */
.footer {
    height: 100px;
    width: 100%;
    margin-top: 100px;
}